fastapi==0.115.4
uvicorn[standard]==0.32.1
beautifulsoup4==4.12.3
trafilatura==1.12.2
fastapi-router-controller==0.5.0
httpx==0.28.1
tritonclient[http]==2.52.0
grpcio-tools==1.68.1
packaging==24.2
langchain==0.3.7
langchain-core==0.3.15
selenium==4.27.1
webdriver-manager==4.0.2